#root{
    margin:2rem;
    margin-left: 5rem;
}

.float-right{
    float: right;
}

.container{
    height: 5rem;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-top: 15px;
    font-size: 25px;
}